{{#if addNewQuestion}}
<h2>New Question</h2>
<div>
  <form>
    <div class="form-group">
      <label for="details">Question</label>
      {{textarea rows="3" class="form-control" value=details id="details"}}
    </div>
    <label>Category</label>
    <select id="category">
      <option value="Sports">Sports</option>
      <option value="Science">Science</option>
    </select>
    <div class="form-group">
      <label for="notes">Additional Notes</label>
      {{input value=notes id="notes" class="form-control"}}
    </div>
    <div class="form-group">
      <label for="author">Author</label>
      {{input value=author id="author" class="form-control"}}
    </div>
    <button class="btn btn-default" {{action 'cancel'}}>Cancel</button>
    <button class="btn btn-success" {{action 'saveQuestion'}}>Save</button>
  </form>
</div>
<br><br>
{{else}}
  <button class="btn btn-primary" {{action 'questionFormShow'}}>New Question</button>
  <br><br>
{{/if}}
