<label class="white">Sort by</label>
<select onchange={{action 'sortFilter' value='target.value'}}>
  <option value="answers.length:desc">Most Answers</option>
  <option value="answers.length">Least Answers</option>
  <option value="details">Question (A-Z)</option>
  <option value="details:desc">Question (Z-A)</option>
  <option value="author">Author (A-Z)</option>
  <option value="author:desc">Author (Z-A)</option>
  <option value="sports">Sports</option>
  <option value="science">Science</option>
</select>
{{#if science}}
  {{sorted-questions sortedQuestions=scienceSort}}
{{else if sports}}
  {{sorted-questions sortedQuestions=sportsSort}}
{{else}}
  {{sorted-questions sortedQuestions=sortedQuestions}}
{{/if}}
