<div class="well">
  <h4><strong>{{question.details}}</strong></h4>
  <p><strong>Additional Notes: </strong>{{question.notes}}</p>
  <p>User: <i>{{question.author}}</i></p>
  {{!-- <button class="btn btn-info" {{action: 'update' question}}>Edit</button> --}}
  <button class="btn btn-danger" {{action 'delete' question}}>Delete</button>
</div>
