<ul class="list-group">
  {{#each sortedQuestions as |question|}}
    <div class="well">
      <h4><strong>{{#link-to 'question' question.id}}{{question.details}}{{/link-to}}     </strong><button class="btn-xs btn-success" {{action 'faveQuestion' question}}><i class="fa fa-star-o"></i></button></h4>
      <p>Category: {{question.category}}</p>
      <p>User: <i>{{question.author}}</i></p>
      <p>{{date-display question.date interval=1000}}</p>
      <p>{{answer-quantity question.answers.length}}</p>
    </div>
  {{/each}}
</ul>
