<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
   <div class="navbar-header">
     <a class="navbar-brand tog" href=""
       {{action 'toggleSidebar'}}>{{fa-icon "fa-bars"}}
     </a>
     <a class="navbar-brand center" href="" {{action "goHome"}}>
       Got Questions?!
     </a>
   </div>
 </div>
</nav>
<div class="ui sidebar inverted vertical menu">
  <a href="" {{action "goHome"}} class="item">Home
  </a>
  <div class="item">
    {{new-question saveQuestion="saveQuestion"}}
  </div>
  {{cart-display}}
</div>
<div class="pusher">
  <br><br><br><br>
    {{outlet}}
  <br><br><br>
</div>
