<div class="container">
  <h3>Question:</h3>
  <div class="well">
    {{question-detail question=model destroyQuestion="destroyQuestion"}}
    <br>
    {{update-question question=model updateQuestion="updateQuestion"}}
  </div>
    {{add-answer question=model saveAnswer="saveAnswer"}}
    <br>
    {{#if model.answers}}
      <div class="panel panel-warning panel-transparent">
        <div class="panel-heading">Answers: There are {{model.answers.length}} answers!</div>
            <div class="panel-body">{{answer-list answers=model.answers updateAnswer="updateAnswer"}}</div>
        </div>
    {{else}}
      <h3>No Answers Yet!</h3>
    {{/if}}
</div>
